In [98]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [99]:
data=pd.read_csv('gold.csv')
data

            Date  Close/Last    Volume    Open    High     Low
0     10/28/2022      1648.3  186519.0  1667.2  1670.9  1640.7
1     10/27/2022      1668.8  180599.0  1668.8  1674.8  1658.5
2     10/26/2022      1669.2  183453.0  1657.7  1679.4  1653.8
3     10/25/2022      1658.0  178706.0  1654.5  1666.8  1641.2
4     10/24/2022      1654.1  167448.0  1662.9  1675.5  1648.0
...          ...         ...       ...     ...     ...     ...
2542  11/06/2012      1715.0  163585.0  1685.4  1720.9  1683.5
2543  11/05/2012      1683.2  109647.0  1676.7  1686.2  1672.5
2544  11/02/2012      1675.2  205777.0  1715.6  1717.2  1674.8
2545  11/01/2012      1715.5  105904.0  1720.4  1727.5  1715.1
2546  10/31/2012      1719.1  110928.0  1710.3  1726.6  1709.8

[2547 rows x 6 columns]

In [100]:
data.columns

Index(['Date', 'Close/Last', 'Volume', 'Open', 'High', 'Low'], dtype='object')

In [101]:
data.shape

(2547, 6)

In [102]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2547 entries, 0 to 2546
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        2547 non-null   object
 1   Close/Last  2547 non-null   float64
 2   Volume      2508 non-null   float64
 3   Open        2547 non-null   float64
 4   High        2547 non-null   float64
 5   Low         2547 non-null   float64
dtypes: float64(5), object(1)
memory usage: 119.5+ KB

In [103]:
data.isnull().sum()

Date           0
Close/Last     0
Volume        39
Open           0
High           0
Low            0
dtype: int64

In [104]:
data=data.dropna(axis=1)

In [105]:
# Converting date datatype
data['Date']=pd.to_datetime(data['Date'])

<ipython-input-105-5fee5c017be9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Date']=pd.to_datetime(data['Date'])

In [106]:
data['date_year']=data['Date'].dt.year
data

           Date  Close/Last    Open    High     Low  date_year
0    2022-10-28      1648.3  1667.2  1670.9  1640.7       2022
1    2022-10-27      1668.8  1668.8  1674.8  1658.5       2022
2    2022-10-26      1669.2  1657.7  1679.4  1653.8       2022
3    2022-10-25      1658.0  1654.5  1666.8  1641.2       2022
4    2022-10-24      1654.1  1662.9  1675.5  1648.0       2022
...         ...         ...     ...     ...     ...        ...
2542 2012-11-06      1715.0  1685.4  1720.9  1683.5       2012
2543 2012-11-05      1683.2  1676.7  1686.2  1672.5       2012
2544 2012-11-02      1675.2  1715.6  1717.2  1674.8       2012
2545 2012-11-01      1715.5  1720.4  1727.5  1715.1       2012
2546 2012-10-31      1719.1  1710.3  1726.6  1709.8       2012

[2547 rows x 6 columns]

In [107]:
data['date_month']=data['Date'].dt.month
data

           Date  Close/Last    Open    High     Low  date_year  date_month
0    2022-10-28      1648.3  1667.2  1670.9  1640.7       2022          10
1    2022-10-27      1668.8  1668.8  1674.8  1658.5       2022          10
2    2022-10-26      1669.2  1657.7  1679.4  1653.8       2022          10
3    2022-10-25      1658.0  1654.5  1666.8  1641.2       2022          10
4    2022-10-24      1654.1  1662.9  1675.5  1648.0       2022          10
...         ...         ...     ...     ...     ...        ...         ...
2542 2012-11-06      1715.0  1685.4  1720.9  1683.5       2012          11
2543 2012-11-05      1683.2  1676.7  1686.2  1672.5       2012          11
2544 2012-11-02      1675.2  1715.6  1717.2  1674.8       2012          11
2545 2012-11-01      1715.5  1720.4  1727.5  1715.1       2012          11
2546 2012-10-31      1719.1  1710.3  1726.6  1709.8       2012          10

[2547 rows x 7 columns]

In [108]:
data['date_day']=data['Date'].dt.day
data

,Date,Close/Last,Open,High,Low,date_year,date_month,date_day
0,2022-10-28,1648.3,1667.2,1670.9,1640.7,2022,10,28
1,2022-10-27,1668.8,1668.8,1674.8,1658.5,2022,10,27
2,2022-10-26,1669.2,1657.7,1679.4,1653.8,2022,10,26
3,2022-10-25,1658.0,1654.5,1666.8,1641.2,2022,10,25
4,2022-10-24,1654.1,1662.9,1675.5,1648.0,2022,10,24
...,...,...,...,...,...,...,...,...
2542,2012-11-06,1715.0,1685.4,1720.9,1683.5,2012,11,6
2543,2012-11-05,1683.2,1676.7,1686.2,1672.5,2012,11,5
2544,2012-11-02,1675.2,1715.6,1717.2,1674.8,2012,11,2
2545,2012-11-01,1715.5,1720.4,1727.5,1715.1,2012,11,1
2546,2012-10-31,1719.1,1710.3,1726.6,1709.8,2012,10,31

In [109]:
data.drop('Date', axis=1, inplace=True)

In [110]:
data.columns

Index(['Close/Last', 'Open', 'High', 'Low', 'date_year', 'date_month',
       'date_day'],
      dtype='object')

In [111]:
data['Open']

0       1667.2
1       1668.8
2       1657.7
3       1654.5
4       1662.9
         ...
2542    1685.4
2543    1676.7
2544    1715.6
2545    1720.4
2546    1710.3
Name: Open, Length: 2547, dtype: float64

In [112]:
data['Open'].value_counts()

1321.0    6
1318.0    5
1296.0    5
1325.0    5
1241.8    4
         ..
1483.2    1
1475.0    1
1464.1    1
1460.7    1
1710.3    1
Name: Open, Length: 2013, dtype: int64

In [113]:
data['Open'].value_counts()/np.float(len(data))

<ipython-input-113-58b80175b8b9>:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  data['Open'].value_counts()/np.float(len(data))

1321.0    0.002356
1318.0    0.001963
1296.0    0.001963
1325.0    0.001963
1241.8    0.001570
            ...
1483.2    0.000393
1475.0    0.000393
1464.1    0.000393
1460.7    0.000393
1710.3    0.000393
Name: Open, Length: 2013, dtype: float64

In [114]:
X=data.drop('Close/Last', axis=1)
y=data['Close/Last']

In [115]:
X.shape

(2547, 6)

In [116]:
y.shape

(2547,)

In [117]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.2, random_state=0)

In [118]:
X_train.shape

(2037, 6)

In [119]:
X_test.shape

(510, 6)

In [120]:
y_train.shape

(2037,)

In [121]:
y_test.shape

(510,)

In [122]:
data.dtypes

Close/Last    float64
Open          float64
High          float64
Low           float64
date_year       int64
date_month      int64
date_day        int64
dtype: object

In [123]:
from sklearn.linear_model import LinearRegression  
model= LinearRegression()  
model.fit(X_train, y_train)

LinearRegression()

In [125]:
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
y_pred

array([1331.58886056, 1733.75960144, 1283.94219323, 1273.47526702,
       1344.51637512, 1799.96790316, 1329.62970864, 1993.68508429,
       1272.91463379, 1258.21471597, 1321.21470005, 1730.94995465,
       1824.56107862, 1162.77035932, 1285.78418153, 1314.65189529,
       1737.44117163, 1286.17638722, 1745.57897526, 1291.07205994,
       1223.07281814, 1806.775494  , 1293.89138522, 1466.67377877,
       1465.86595734, 1154.78646016, 1515.09503049, 1229.79828327,
       1094.22983986, 1328.7798405 , 1201.06031548, 1117.03238106,
       1355.27369632, 1169.37996341, 1143.09027563, 1718.30825625,
       1847.74034127, 1299.7533135 , 1562.35031384, 1220.70047968,
       1287.20521041, 1258.82554719, 1274.99721392, 1306.45384786,
       1238.36759546, 2054.43997434, 1720.51409974, 1838.38501715,
       1246.37146745, 1724.22293782, 1281.71686265, 1226.62599656,
       1834.57468329, 1297.55771621, 1091.95163305, 1378.73964679,
       1580.4552682 , 1286.18182454, 1336.15508513, 1211.02711575,
       1797.26598069, 1237.79552902, 1247.03418279, 1512.39620355,
       1238.19010222, 1263.26715296, 1299.35059344, 1091.01152741,
       1213.83126947, 1302.51427932, 1314.21486053, 1341.51258429,
       1155.05975551, 1600.19595614, 1355.76816346, 1241.06568797,
       1787.71994305, 1371.10202654, 1328.43038233, 1692.72474219,
       1261.78255804, 1805.74846114, 1841.36205869, 1275.20305468,
       1121.22972162, 1724.10312497, 1197.76621231, 1808.95994141,
       1261.7435959 , 1292.36459423, 1646.32823497, 1218.83778204,
       1314.64254773, 1292.04043478, 1246.84886659, 1653.82915646,
       1254.70584513, 1206.49857021, 1295.21925886, 1409.28181672,
       1648.25946527, 1788.95269111, 1305.81421555, 1222.55677293,
       1222.59192195, 1276.6928013 , 1842.18480076, 1269.11048704,
       1469.02194153, 1062.03946342, 1124.77547568, 1302.24020664,
       1243.07699922, 1464.97444676, 1580.30584358, 1200.66287363,
       1316.164176  , 1351.86500203, 1249.39837165, 1264.54698702,
       1866.82583921, 1201.00472237, 1338.74866089, 1164.68729091,
       1301.83302272, 1317.69493589, 1275.27314494, 1233.6975137 ,
       1185.59460217, 1202.85576339, 1705.53722469, 1875.62143206,
       1331.0654358 , 1324.96633716, 1202.62467332, 1087.12894914,
       1514.33025324, 1953.07824672, 1259.19499548, 1365.83941525,
       1688.04185821, 1272.45934965, 1184.70681321, 1831.64320002,
       1312.60802037, 1528.31935703, 1843.20243949, 1659.81845248,
       1315.92095861, 1321.32854219, 1924.3209398 , 1414.86015049,
       1205.53736627, 1846.20146557, 1946.75318435, 1232.3857639 ,
       1219.35564261, 1828.261179  , 1299.29740784, 1286.58542154,
       1749.81735203, 1187.14327226, 1170.67299071, 1750.52851554,
       1345.57940168, 1727.11712128, 1258.2205675 , 1296.72618316,
       1828.82873679, 1256.94544462, 1255.12923649, 1206.03006708,
       1794.81438104, 1336.96100711, 1321.80928589, 1308.82739637,
       1651.04713154, 1328.632917  , 1283.72029582, 1270.32041543,
       1191.89092645, 1240.92481999, 1318.52452836, 1681.77906804,
       1254.81168088, 2070.51606719, 1390.9254359 , 1566.21754576,
       1266.15367076, 1228.59951655, 1089.06835075, 1201.23706365,
       1208.56220459, 1226.57559608, 1728.66848459, 1724.15258481,
       1751.89990429, 1063.78353883, 1864.26336977, 1878.02627232,
       1286.50416677, 1963.57497914, 1362.28228281, 1329.73377868,
       1293.27543738, 1289.86113015, 1204.16692654, 1260.58735129,
       1432.04487445, 1719.02319187, 1071.35834979, 1758.62769213,
       1315.17749463, 1667.07314786, 1284.70519449, 1350.92660491,
       1232.71511356, 1849.3997081 , 1169.9524247 , 1806.32236096,
       1285.66526972, 1327.94634214, 1227.88566152, 1779.37067563,
       1476.41197511, 1145.98782425, 1915.42466862, 1321.53373545,
       1089.45310719, 1707.05727301, 1313.56557026, 1321.98936402,
       1908.49098278, 1167.29392124, 1232.11857588, 1268.49292427,
       1078.58862605, 1327.28616449, 1748.74170119, 1258.71699823,
       1172.13907953, 1388.58046338, 1143.5869683 , 1215.85422941,
       1198.30995307, 1362.85522342, 1304.1513642 , 1639.25350185,
       1171.59959496, 1361.60056403, 1243.1321419 , 1127.28956701,
       1185.93422616, 1235.93685886, 1816.15008994, 1209.06368104,
       1569.50196114, 1334.6925961 , 1449.87799121, 1233.77307328,
       1568.76212461, 1552.23227389, 1810.20854162, 1439.01663494,
       1262.57840854, 1801.1572066 , 1812.87685974, 1420.27156022,
       1582.59449065, 1889.43803881, 1315.58992149, 1122.3916773 ,
       1178.92886466, 1806.0893834 , 1260.78041817, 1312.36542424,
       1673.41904005, 1806.27936231, 1592.71392313, 1469.73045834,
       1199.99429214, 1146.57961202, 1200.33789016, 1127.52693359,
       1195.00554266, 1304.03818509, 1173.41988012, 1281.2755452 ,
       1256.5273805 , 1494.34125177, 1298.80825614, 1254.05907624,
       1910.27084019, 1216.21693494, 1278.10301181, 1114.45229889,
       1409.50678623, 1352.18470619, 1594.72720425, 1179.13546697,
       1056.74999087, 1273.33307448, 1382.89055611, 1187.23737906,
       1746.46124129, 1196.18644965, 1462.2548248 , 1318.62115683,
       1790.90505652, 1945.2821921 , 1280.51217168, 1893.8087623 ,
       1684.75659256, 1197.92243266, 1296.53405352, 1269.08708998,
       1252.73617477, 1794.23857545, 1727.21902235, 1572.46141612,
       1701.33757126, 1300.63140787, 1234.52125733, 1281.4036918 ,
       1188.80491504, 1283.68513404, 1661.5925475 , 1546.61516374,
       1272.44704121, 1174.4851003 , 1582.77263248, 1103.8768383 ,
       1730.30123083, 1874.92962435, 1513.11554877, 1224.17592523,
       1137.94398347, 1782.15838538, 1644.02200202, 1229.30316091,
       1645.46070615, 1945.39348529, 1283.08879674, 1307.49845546,
       1804.01990293, 1848.63493647, 1709.08477316, 1598.87882048,
       1516.14498474, 1324.69898238, 1748.49986851, 1278.58935001,
       1244.20030858, 1209.27198345, 1501.7630055 , 1229.54556072,
       1265.57500651, 1367.71254905, 1821.40636645, 1172.33319984,
       1768.14774919, 1990.97646321, 1481.8305279 , 1434.26833239,
       1584.64666731, 1135.90349186, 1280.49944318, 1865.05626117,
       1206.55904865, 1292.76967784, 1673.91511957, 1370.69293037,
       1513.19160727, 1310.47541248, 1850.18020537, 1703.50954684,
       1198.91678981, 1288.18708228, 1287.85884041, 1155.80234215,
       1290.18181221, 1252.93753469, 1264.12595596, 1241.00973976,
       1713.62082589, 1237.33908635, 1209.61299786, 1212.27130764,
       1179.19365125, 2009.75288988, 1200.29780851, 1898.086387  ,
       1218.75161327, 1317.51165441, 1216.96001843, 1310.68645879,
       1206.95464368, 1641.14395935, 1249.71498684, 1236.7073158 ,
       1384.78560492, 1489.70735301, 1297.6156134 , 1769.96877041,
       1283.84104872, 1232.31220148, 1131.24949838, 1335.2087518 ,
       1822.14882839, 1722.58681999, 1294.80763204, 1333.17430659,
       1240.26759893, 1499.236433  , 1930.05134277, 1838.79634274,
       1260.18110802, 1247.47424682, 1075.77102353, 1963.2081783 ,
       1660.53379329, 1718.50747994, 1716.54393547, 1805.16124744,
       1864.66752262, 1578.93978882, 1265.12978131, 1198.18691919,
       1176.89368429, 1979.33745367, 1331.2443624 , 1315.89576286,
       1141.44997696, 1208.5432556 , 1339.5065747 , 1266.97341242,
       1249.11927782, 1310.64608545, 1816.77561829, 1299.24211491,
       1297.10446325, 1151.74707354, 1307.62066281, 1605.06476722,
       1290.27832343, 1234.33272398, 1165.11423105, 1192.107247  ,
       1239.92424799, 1869.35766342, 1173.67547392, 1277.5644121 ,
       1520.86052279, 1834.48541851, 1555.64380496, 1222.59512611,
       1753.24029521, 1776.14055373, 1774.53383114, 1201.94381977,
       1231.37598642, 1718.47871631, 1800.14151296, 1179.69061131,
       1226.72567714, 1517.09527636, 1676.44171015, 1803.59085655,
       1065.13442904, 1726.82702686, 1828.09173958, 1406.75319662,
       1217.71167748, 1074.22733523, 1910.51358345, 1279.68211681,
       1318.45331183, 1234.22389214, 1935.06198969, 1848.49775359,
       1280.71788598, 1077.68677856, 1284.95264895, 1249.80485884,
       1666.26011316, 1777.30944835, 1725.894173  , 1725.0411113 ,
       1181.27337949, 1250.37786909, 1861.00218866, 1277.09144087,
       1263.07615884, 1086.54508047, 1261.36115485, 1077.06936572,
       1790.50214317, 1265.10658002, 1180.74935003, 1453.92850511,
       1304.98437271, 1112.3952378 , 1963.66102523, 1311.41933014,
       1321.90669636, 1440.75012847, 1226.04215443, 1287.06712708,
       1315.22452723, 1145.48317207])

In [128]:
accuracy=model.score(X_test, y_test)*100

**ACCURACY RATE**

In [129]:
accuracy

99.945999483106

In [139]:
data.head(5)

   Close/Last    Open    High     Low  date_year  date_month  date_day
0      1648.3  1667.2  1670.9  1640.7       2022          10        28
1      1668.8  1668.8  1674.8  1658.5       2022          10        27
2      1669.2  1657.7  1679.4  1653.8       2022          10        26
3      1658.0  1654.5  1666.8  1641.2       2022          10        25
4      1654.1  1662.9  1675.5  1648.0       2022          10        24

In [144]:
input_data = (1620,1700.4,1590.6,2030,10,10)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
# print(prediction)

if (prediction[0]== 0):
  print('No valid Values')
else:
  print(prediction)

[1655.40359028]

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(